body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(17, 19, 25, 1);
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  box-sizing: border-box;
}

div::-webkit-scrollbar {
  width: 20px;
}

div::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  margin: 4px;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 0.27);
}

div::-webkit-scrollbar-corner {
  background: transparent;
}
